.sideBar,
.sideBar_icon {
  padding: 2rem 0 0 0;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 5vh;
  transition: width 0.3s ease;
  z-index: 98;

  .sidebar_tab {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.75rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    .tab_icon {
      display: flex;
      align-items: center;
    }
  }

  .sidebar_close-icon {
    position: absolute;
    left: 100%;
    top: 2%;
    padding: 0.5rem;
    background: linear-gradient(135deg, #141e30, #243b55);

    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;

    &:hover {
      background: linear-gradient(135deg, #141e30, #243b55);
    }
  }
}

.sideBar {
  width: 13%;
}

.sideBar_icon {
  width: 4%;
}

@media (max-width: 768px) {
  .sideBar,
  .sideBar_icon {
    top: 4rem;
    width: 60px;
  }
}
